body {
  background-color: #eae8e8;
}

.container {
width: 100%;
display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  border-radius: 12px;
  width: 17rem;
  margin: 12px;
  padding: 0;
  border: 1px solid #c1bfbf;
}

.card-img-top {
  border-radius: 12px 12px 0 0;
   height: 10rem;
   object-fit: cover;
   cursor: pointer;
}


.card-body {
  display:flex;
  justify-content: space-between;
  padding: 8px;
}

.avatar {
  position:absolute;
  top: 8px;
  right: 8px;
  height: 2rem !important;
  width: 2rem !important;
  border-radius: 25px;
}